@use "../../base/variables" as *;

.home-testimonials {
  background-image: url("~assets/images/testimonials.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  padding-block: $unit-6;
  color: var(--font-color);

  .wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: $unit-2;
    justify-content: center;
    position: relative;
    text-align: center;
    z-index: 1;

    .arrows {
      display: flex;
      flex-direction: row;
      gap: $unit-1;
      align-items: center;
    }

    article {
      display: flex;
      flex-direction: column;
      gap: $unit-2;
      align-items: center;
    }

    img {
      width: $unit-4;
      height: $unit-4;
    }
  }
}
