@use "../../base/variables" as *;

.home-testimonials {
  background-image: url("~assets/images/testimonials.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  padding-block: $unit-6;
  color: var(--font-color);

  &::after {
    content: "";
    background-color: var(--color-primary-transparent);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: $unit-2;
    justify-content: center;
    position: relative;
    text-align: center;
    z-index: 1;

    .xlarge-text {
      max-width: 90%;
    }
  }
}
