@use "../base/variables" as *;

.some-links .icon {
  background-color: var(--foreground-color);
  padding: $unit-05;
  box-sizing: content-box;
  border-radius: $border-radius-o;
  filter: none;

  &.inverse {
    background-color: var(--background-color);

    img {
      filter: var(--filter-font-color);
    }
  }
}
