@use "../base/variables" as *;

.subCard {
  border-radius: $border-radius-s;
  color: var(--font-color-inverse);
  flex: 1 1 0px;
  overflow: hidden;
  transition: ease-in 0.25s;
  text-align: center;
  height: 100%;

  .box {
    position: relative;
    z-index: 1;
    height: 100%;
  }

  &.contact {
    img {
      aspect-ratio: 1;
    }
  }
}
