@use "../base/variables" as *;

table {
  width: 100%;
}

th,
td {
  padding: $unit-1 $unit-05;
  text-align: left;
  white-space: nowrap;
  border-bottom: $border-width solid var(--border);

  &:not(:first-child, :last-child) {
    padding: inherit 0;
  }
  &:last-child {
    text-align: right;
  }
}

th {
  border-bottom: $border-width-thick solid var(--border);
}

@media (max-width: 650px) {
  tr {
    display: flex;
    flex-direction: column;

    td:last-child {
      text-align: left;
    }
  }
}
